@import "../../style.scss";

#friend {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: $navBarWidth;
  margin-top: $headerHeight;
  box-sizing: border-box;
  height: calc(100vh - 4.6em);
  background-color: $lighterGrey;
  box-sizing: border-box;
}
////////////////////  Header  //////////////////////
#friend-header {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  width: 74.5em;
  margin-top: 2em;
}
.friend-input-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  width: 16em;
}
.friend-input {
  height: 2em;
  width: 100%;
  border: none;
  box-shadow: 0px 1px 10px $buttonShadow;
  border-radius: 2px;
  font-family: $bodyFontFamily;
  font-size: $bodyFontSize;
  padding-left: 0.5em;
  margin-bottom: .1em;
}
#friend-search-none {
  display: none;
}
#friend-search-results {
  position: relative;
  width: 16.5em;
  height: 20em;
  padding: 0.4em 0;
  border: none;
  box-shadow: 0px 1px 10px $buttonShadow;
  border-radius: 2px;
  font-family: $bodyFontFamily;
  font-size: $bodyFontSize;
  background-color: white;
  transition: all 1s;
  overflow: scroll;
  z-index: 1;
}
#friend-search-results > div {
  padding: 0.2em 0.5em;
}
#friend-search-row {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0.5em 0;
}
#friend-search-row-info {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 0.5em;
}
#friend-search-row p {
  width: 100%;
  margin: 0;
  font-weight: 600;
  letter-spacing: 0.08em;
}
#friend-search-row-info-btn {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  height: 1.5em;
  margin: 0.2em 0;
}
#friend-search-row i {
  margin: 0.4em;
}
#friend-search-row button {
  font-family: $bodyFontFamily;
  background-color: $lightBlue;
  color: white;
  height: 1.8em;
  width: 4.8em;
  margin: 0.4em 0;
  padding: 0.1em;
  font-size: 0.7em;
  letter-spacing: 0.06em;
  border-radius: 2px;
  border: none;
}
.search-profile-pic {
  width: 55px;
  height: 70px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

////////////////////////  Body  ///////////////////////
#friend-body {
  display: flex;
  justify-content: flex-start;
  height: calc(100vh - 8em - 4.6em);
  width: 100%;
  margin: 0em 2.4em;
  margin-top: 6em;
}
#friend-body h4 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: $titleFontFamily;
  letter-spacing: 0.05em;
}
#recommend h4 {
  align-items: flex-end;
  padding: 1em 0.5em;
  margin-top: 0.3em;
  grid-column: 1 / span 2;
  grid-row: 1;
}
#my-friends h4 {
  display: flex;
  align-items: flex-end;
  padding: 1em 1em;
  margin-top: 0.3em;
  grid-column: 1 / span 4;
  grid-row: 1;
}
/////////////////////////////////////////////////////////////////
#my-friends {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 2em repeat(6, 1fr);
  grid-gap: 0.7em 0.5em;
  justify-items: center;
  width: 45em;
  border-radius: 2px;
  padding: 0.7em;
  margin-left: 1.5em;
  box-shadow: 0px 1px 10px $buttonShadow;
  background-color: white;
  overflow-y: scroll;
}
#my-friends-card {
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 195px;
  width: 150px;
  background-color: $lighterGrey;
  border-radius: 2px;
  box-shadow: 0px 1px 2px $lightGrey;
  overflow: hidden;
}
#my-friends-card-more {
  display: none;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: -25px;
  left: 0;
  right: 0;
  padding: 0 0.5em;
  background-color: rgba(255, 255, 255, 0.856);
  transition: all 0.5s;
}
#my-friends-card:hover #my-friends-card-more {
  top: 0;
  transition: all 0.5s;
}
#my-friends-card-more > button {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: $bodyFontFamily;
  background-color: $lightBlue;
  color: white;
  height: 1.5em;
  width: 4.5em;
  margin: 0.4em 0;
  padding: 0.1em;
  font-size: 0.7em;
  letter-spacing: 0.03em;
  border-radius: 2px;
  border: none;
}
#my-friends-card-more > button:hover {
  background-color: $maroon;
  color: white;
}
#my-friends-card-more > i {
  color: $darkGrey;
}
#my-friends-card-more > i:hover {
  color: $darkerGrey;
}
#my-friends-pic-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border-radius: 2px;
  height: 170px;
  width: 150px;
  overflow: hidden;
}
.friends-profile-pic {
  height: 170px;
  width: 150px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 2px 2px 0 0;
  box-shadow: 0px 1px 10px $buttonShadow;
}
#my-friends-card > p {
  display: flex;
  align-items: center;
  margin: 0 0 0.7em 0;
  font-family: $titleFontFamily;
  height: 2.2em;
  font-size: 0.8em;
  font-weight: 600;
  letter-spacing: 0.03em;
}
#my-friend-name {
  display: flex;
  justify-content: space-between;
  width: 135px;
  padding: 0 0.2em;
}
#my-friend-name > p {
  display: flex;
  align-items: center;
  margin: 0;
  font-family: $titleFontFamily;
  height: 2.2em;
  font-size: 0.7em;
  font-weight: 600;
  letter-spacing: 0.03em;
}

////////////////////////////////////////////////////////////////
#recommend {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 2em repeat(6, 1fr);
  grid-gap: 0.7em 0.5em;
  justify-items: center;
  width: 20em;
  box-shadow: 0px 1px 10px $buttonShadow;
  border-radius: 2px;
  padding: 0.7em;
  margin: 0 1.5em;
  background-color: white;
  overflow-y: scroll;
}
#my-rec-card {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 180px;
  width: 135px;
  background-color: $lighterGrey;
  border-radius: 2px;
  box-shadow: 0px 1px 2px $lightGrey;
}
#my-rec-pic-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border-radius: 2px;
  height: 155px;
  width: 135px;
  // margin-top: .5em;
  overflow: hidden;
}
.rec-profile-pic {
  height: 155px;
  width: 135px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  // border-radius: 2px 2px 0 0;
  box-shadow: 0px 1px 10px $buttonShadow;
}
#my-rec-name {
  display: flex;
  justify-content: space-between;
  width: 135px;
  padding: 0 0.2em;
}
#my-rec-name > p {
  display: flex;
  align-items: center;
  margin: 0;
  font-family: $titleFontFamily;
  height: 2.2em;
  font-size: 0.7em;
  font-weight: 600;
  letter-spacing: 0.03em;
}
#my-rec-name > button {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: $bodyFontFamily;
  background-color: $lightBlue;
  color: white;
  height: 1.5em;
  width: 2.5em;
  margin: 0.4em 0;
  padding: 0.1em;
  font-size: 0.7em;
  letter-spacing: 0.03em;
  border-radius: 2px;
  border: none;
}
#my-rec-name > button:hover {
  background-color: $maroon;
  color: white;
}

#recommend::-webkit-scrollbar,
#my-friends::-webkit-scrollbar {
  width: 0.1em;
}
#recommend::-webkit-scrollbar-thumb,
#my-friends::-webkit-scrollbar-thumb {
  background: rgb(206, 206, 206);
}
#recommend::-webkit-scrollbar-button:vertical:decrement,
#my-friends::-webkit-scrollbar-button:vertical:decrement {
  height: 0;
  width: 0;
}

#friend-search-results::-webkit-scrollbar-button:vertical:decrement {
  height: 0em;
  width: 0;
}

@media (max-width: 1202px) {
  #friend-body {
    height: fit-content;
  }
  #friend-header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
  }
  #friend-body {
    flex-wrap: wrap;
    width: calc(100vw - 6em);
  }
  #recommend {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 11em;
    margin-bottom: 2em;
    padding-top: 4em;
    width: 90%;
  }
  #recommend h4 {
    position: absolute;
    top: -0.5em;
  }
  #my-rec-card {
    margin: 0 0.5em;
    margin-top: -1.5em;
  }
  #my-friends {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 2em;
    padding-top: 4em;
    width: 90%;
  }
  #my-friends h4 {
    position: absolute;
    top: -0.5em;
  }
  #my-friends-card {
    margin: -1.5em 0.8em 3em 0.8em;
  }
}
