@import "../../style.scss";

#friend {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: $navBarWidth;
  margin-top: $headerHeight;
  box-sizing: border-box;
  height: calc(100vh - 4.6em);
  overflow: hidden;
  box-sizing: border-box;
}
////////////////////  Header  //////////////////////
#friend-header {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  margin-top: 2em;
}
////////////////////////  Body  ///////////////////////
#friend-body {
  display: flex;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  margin: 2.2em 2.4em;
}
#friend-body h4 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  padding: 1em 1em;
  font-family: $titleFontFamily;
  letter-spacing: 0.05em;
}
#recommend h4 {
  grid-column: 1 / span 2;
  grid-row: 1;
}
#my-friends h4 {
  grid-column: 1 / span 4;
  grid-row: 1;
}
/////////////////////////////////////////////////////////////////
#my-friends {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 2em repeat(6, 1fr);
  width: 45em;
  height: 100%;
  box-shadow: 0px 1px 10px $buttonShadow;
  border-radius: 2px;
  // overflow: scroll;
}
#my-friends-cards {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: .7em;
}
#my-friends-card {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border-radius: 5px;
  box-shadow: 0px 1px 10px $buttonShadow;
  border-radius: 2px;
  height: 170px;
  width: 150px;
  overflow: hidden;
}
#my-friends-card img {
  width: auto;
  max-height: 100%;
  border-radius: 2px 2px 0 0;
}
#my-friends-cards > p {
  display: flex;
  align-items: center;
  margin: 0;
  font-family: $titleFontFamily;
  height: 2.2em;
  font-size: .8em;
  font-weight: 600;
  letter-spacing: .03em;
}
////////////////////////////////////////////////////////////////
#recommend {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 2em repeat(6, 1fr);
  width: 20em;
  height: 100%;
  box-shadow: 0px 1px 10px $buttonShadow;
  border-radius: 2px;
  // overflow: scroll;
}
#my-rec-cards {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: .7em;
}
#my-rec-card {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border-radius: 5px;
  box-shadow: 0px 1px 10px $buttonShadow;
  border-radius: 2px;
  height: 160px;
  width: 135px;
  overflow: hidden;
}
#my-rec-card img {
  width: auto;
  height: 100%;
  border-radius: 2px 2px 0 0;
}
#my-rec-cards > p {
  display: flex;
  align-items: center;
  margin: 0;
  font-family: $titleFontFamily;
  height: 2.2em;
  font-size: .8em;
  font-weight: 600;
  letter-spacing: .03em;
}
