@import '../../style.scss';

#settings-mainContainer p {
    margin-top: -1em;
    font-family: $titleFontFamily;
}
#settings-mainContainer {
    position: relative;
    top: 5em;
    left: 4.5em;
    display: flex;
    justify-content: space-around;
    height: calc(100vh - 5.5em);
    width: calc(100vw - 6em);
    // margin-left: 10em;
    // background-color: green; 
    font-family: $titleFontFamily;
}
#settings-profileContainer {
    background-color: tan;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;  
    align-content: center; 
    font-family: $titleFontFamily;
    color: $white; 
    text-align: center; 
    position: relative; 
}
.settings-AboutWrapper {
    height: 60%;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
}
.settings-aboutMe {
    // background-color: yellowgreen;
    width: 50%;
    height: auto;
}

#settings-profileImg {
    height: 19em;
    width: 16.5em;
    position: relative; 
}
.editProfileBtns {
    height: 2.5em;
    width: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: $darkGrey;
    opacity: 0.8
}

//////////////TODO EDIT PROFILE CONTAINER////////////////////////
#settings-editProfileContainer {
    // background-color: blue; 
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
}
#settings-inputFields {
    background-color: $darkGrey; 
    width: 70%;
    height: 50%;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    color: white;
    font-family: $titleFontFamily; 
    position: relative; 
}

#settings-greeting {
    margin-left: 5em;
    margin-right: 5em; 
    font-size: 1.4em; 
}
#editInputs {
    height: 1.5em;
    width: 25em; 
}
textarea[id="aboutMeText"], input[id="editInputs"] {
    border-radius: 5px; 
    border: none; 
    // display: flex; 
    // justify-content: center;
}
textarea[id="aboutMeText"]:focus, input[id="editInputs"]:focus {
    border-radius: 5px; 
    border: 3px solid $lightBlue; 
}

//////////////TODO BUTTONS////////////////////////
.fa-pen {
    color: $darkerGrey;
    position: relative;
    top: 0;
    cursor: pointer;
}
.fa-user-edit,
.fa-plus,
.fa-trash-alt {
    color: $white;
    cursor: pointer;
}
.fa-user-edit:hover,
.far:hover,
.fa-plus:hover,
.fa-trash-alt:hover {
    color: $darkBlue;
}
#settings-mainBtns {
    display: flex;
    // justify-content: space-around;
    position: absolute;
    bottom: 0.8em;  
    // margin-left: 3em;
    // margin-right: 3em; 
}
#settings-btns {
    background-color: $tan;
    border: none;
    margin: 0.5em 1em;
    height: 3em;
    width: 15em;
    font-size: 0.8em; 
    font-weight: bold;
    font-family: $titleFontFamily
}
#settings-btns:hover {
    background-color: $lightBlue;
}

@media (max-width: 1000px) {



}
@media (max-width: 700px) {
    


}
@media (max-height: 568px) {



}