@import '../../style.scss';

.club-book-details-main-container {
    height: calc(100vh - 5.1em);
    width: calc(100% - 3.6em);
    margin-left: $navBarWidth;
    margin-top: 5rem;
    margin-right: 1rem;
    box-sizing: border-box;
    position: relative;
}

.club-members-pic-div {
    height: 8rem;
    width: 6.5rem;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.club-books {
    background-color: $darkGreen;
    width: 48%;
    flex-direction: column;
    border-radius: 10px;
    margin-left: 2rem;
    padding: 2rem;
    box-sizing: border-box;
    height: 100%;
}

.club-details-container {
    background-color: $darkGreen;
    width: 48%;
    flex-direction: column;
    border-radius: 10px;
    margin-left: 1rem;
    padding: 1rem;
    box-sizing: border-box;
    height: 100%;
}

.club-details {
    background-color: $lighterGrey;
    justify-content: space-evenly;
    flex-direction: column;
    height: 35%;
    margin-bottom: 1rem;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 1rem;
}

.club-members {
    background-color: $lighterGrey;
    height: 65%;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 1rem;
}

.club-books-display {
    overflow-y: scroll;
    margin: 0.5rem 1rem 0rem 0rem;
    flex-wrap: wrap;
    height: 57rem;
    justify-content: center;
}

.book-owner-img-div {
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 1rem;
}

.club-back-container {
    position: absolute;
    left: 2.8rem;
    top: 0.7rem;
    background-color: $lighterGrey;
    height: 1.6rem;
    width: 1.6rem;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}

.member-card {
    flex-direction: column;
    align-items: center;
    height: 11rem;
    width: 9rem;
}

.club-owner-details {
    flex-direction: column;
    width: 100%;
}

.summary-container {
    width: 100%;
}

.club-title {
    font-size: $titleFontSize;
    font-family: $titleFontFamily;
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.club-words {
    font-size: $bodyFontSize;
    font-family: $bodyFontFamily;
    margin: 0rem;
    letter-spacing: .1rem;
}

.name {
    text-align: center;
}

.club-owner-first {
    justify-content: flex-start;
    align-items: center;
    margin-top: 1rem;
}

.owner-name {
    margin-left: .5rem;
    margin-right: .5rem;
}

.members-list {
    flex-wrap: wrap;
    height: 31rem;
    overflow: scroll;
}

.club-books-display::-webkit-scrollbar-thumb,
.club-books-display::-webkit-scrollbar-thumb {
  background: rgb(206, 206, 206);
}
.club-books-display::-webkit-scrollbar-button:vertical:decrement,
.club-books-display::-webkit-scrollbar-button:vertical:decrement {
  height: 0;
  width: 0;
}

.members-list::-webkit-scrollbar-thumb,
.members-list::-webkit-scrollbar-thumb {
  background: rgb(206, 206, 206);
}
.members-list::-webkit-scrollbar-button:vertical:decrement,
.members-list::-webkit-scrollbar-button:vertical:decrement {
  height: 0;
  width: 0;
}
