@import '../../style.scss';

.club-card-pic-div {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}