@import "../../style.scss";

#club {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: $navBarWidth;
  margin-top: $headerHeight;
  box-sizing: border-box;
  height: calc(100vh - 4.6em);
  width: calc(100% - 3.6rem);
  background-color: $lighterGrey;
  box-sizing: border-box;
  position: relative;
}
////////////////////  Header  //////////////////////
#club-header {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  margin-top: 2em;
}
////////////////////////  Body  ///////////////////////
#club-body {
  display: flex;
  justify-content: flex-start;
  height: calc(100vh - 8em - 4.6em);
  width: 100%;
  margin: 2em 2.4em;
}
#club-body h4 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: $titleFontFamily;
  letter-spacing: 0.05em;
}
#recommendClub h4 {
  align-items: flex-end;
  padding: 1em .5em;
  margin-top: .3em;
  grid-column: 1 / span 2;
  grid-row: 1;
}
#my-clubs h4 {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 1em 1em;
  margin-top: .3em;
  grid-column: 1 / span 7;
  grid-row: 1;
}
/////////////////////////////////////////////////////////////////
#my-clubs {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 2em repeat(6, 1fr);
  width: 59rem;
  border-radius: 2px;
  justify-items: center;
  padding: .7em;
  margin-left: 1.5em;
  box-shadow: 0px 1px 10px $buttonShadow;
  background-color: white;
  overflow-y: scroll;
  grid-gap: 0.7em 0.5em;

}
#my-clubs-card {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
#my-clubs-pic-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border-radius: 2px;
  height: 170px;
  width: 150px;
  overflow: hidden;
}
.clubs-profile-pic {
  height: 170px;
  width: 150px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 2px 2px 0 0;
  box-shadow: 0px 1px 10px $buttonShadow;
}
#my-clubs-card > p {
  display: flex;
  align-items: center;
  margin: 0 0 .7em 0;
  font-family: $titleFontFamily;
  height: 2.2em;
  font-size: .8em;
  font-weight: 600;
  letter-spacing: .03em;
}
////////////////////////////////////////////////////////////////
#recommendClub {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 2em repeat(6, 1fr);
  width: 20rem;
  box-shadow: 0px 1px 10px $buttonShadow;
  border-radius: 2px;
  padding: .7em;
  margin: 0 1.5em;
  justify-items: center;
  background-color: white;
  overflow-y: scroll;
}
#my-rec-card {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
#my-rec-pic-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border-radius: 2px;
  height: 155px;
  width: 135px;
  overflow: hidden;
}
.rec-profile-pic {
  height: 155px;
  width: 135px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 2px 2px 0 0;
  box-shadow: 0px 1px 10px $buttonShadow;
}
// .rec-profile-pic:focus {
//   flex-grow: 2;
// }
#my-rec-card > p {
  display: flex;
  align-items: center;
  margin: 0 0 .7em 0;
  font-family: $titleFontFamily;
  height: 2.2em;
  font-size: .8em;
  font-weight: 600;
  letter-spacing: .03em;
}

#recommendClub::-webkit-scrollbar, #my-clubs::-webkit-scrollbar {
  width: .2em;
}
#recommendClub::-webkit-scrollbar-thumb, #my-clubs::-webkit-scrollbar-thumb {
  width: .1em;
  height: .1em;
  border-radius: 2px;
  background: $darkGreen;
}
#recommendClub::-webkit-scrollbar-button:vertical:decrement, #my-clubs::-webkit-scrollbar-button:vertical:decrement {
  background: $maroon;
  height: 0;
  width: 0;
}

#my-club-input {
  left: 21.5rem;
  top: 2rem;
}

.add-club-button {
  background-color: $lightGrey;
  height: 2rem;
  width: 2rem;
  position: absolute;
  left: 2rem;
  top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.add-club-modal {
  position: absolute;
  height: 14rem;
  width: 14rem;
  background-color: #38423b;
  border-radius: 10px;
  right: 17rem;
  bottom: 4rem;
}

.close-add-club-modal {
  position: absolute;
  right: 0.6rem;
  top: 0.5rem;
  background: none;
  border: none;
  font-family: $bodyFontFamily;
  font-size: $bodyFontSize;
  color: $lighterGrey;
}

.relative {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  padding: 1rem;
  box-sizing: border-box;
  font-family: $bodyFontFamily;
  font-size: $bodyFontSize;
}

.add-club-words {
  margin-right: 1rem;
  color: $lighterGrey;
}

.add-club-text {
  font-family: $bodyFontFamily;
  font-size: $bodyFontSize;
  
}

.add-club-create-button {
  background-color: $lighterGrey;
  border: solid $lighterGrey .1rem;
  border-radius: 10px;
  font-family: $bodyFontFamily;
  font-size: $bodyFontSize;
  color: $grey;
}

@media (max-width: 1824px) {
  .add-club-modal {
    right: 11rem;
    bottom: 4rem;
  }
  #my-club-input {
    left: 10.5rem;
  }
}
@media (max-width: 1550px) {
  .add-club-modal {
    right: 9rem;
    bottom: 4rem;
  }
  #my-clubs h4 {
    grid-column: 1 / span 6;
  }
  #my-clubs {
    grid-template-columns: repeat(6, 1fr);
    
  }
  #my-club-input {
    left: 6.5rem;
  }
}
@media (max-width: 1500px) {
  .add-club-modal {
    right: 5rem;
    bottom: 4rem;
  }
  #my-club-input {
    left: 2.5rem;
  }
  #my-clubs {
    width: 53rem;
  }
}

@media (max-width: 1390px) {
  #my-clubs h4 {
    grid-column: 1 / span 5;
  }
  #my-clubs {
    grid-template-columns: repeat(5, 1fr);
    width: 45rem;
  }
  #my-club-input {
    left: -0.5rem;
  }
}

@media (max-width: 1265px) {
  // #recommendClub {
  //   width: calc(100% - 3.3rem);
  // }
  #my-clubs {
    grid-template-columns: repeat(4, 1fr);
    width: 37rem;
  }
  #my-clubs h4 {
    grid-column: 1 / span 4;
  }
}

@media (max-width: 1140px) {
  #my-clubs {
    grid-template-columns: repeat(3, 1fr);
    width: 29rem;
  }
  #my-clubs h4 {
    grid-column: 1 / span 3;
  }
}

@media (max-width: 1022px) {
  #club {
    margin-left: 0rem;
    width: 100%;
  }
}