@import '../../style.scss';

.br-list-title {
    font-family: $titleFontFamily;
    font-size: $titleFontSize;
    position: absolute;
    left: 2rem;
    top: -4rem;
    margin: 1rem;
    margin-left: 3.5rem;
}

.br-book-cover {
    height: 42vh;
    width: 17rem;
    margin: 0.5rem;
    border-radius: 10px;
}

.book-carousel {
    overflow: scroll;
    margin-top: 4rem;
    margin-left: 5rem;
    margin-right: 2rem;
    display: flex;
}

.br-top-list {
    margin-top: 10rem;
}

.br-container {
    position: relative;
    height: 45vh;
}

.br-main {
    width: calc(100vw - $navBarWidth);
}
