@import '../../style.scss';

.br-list-title {
    font-family: $titleFontFamily;
    font-size: $titleFontSize;
    position: absolute;
    left: 2rem;
    margin: 1rem;
}

.br-book-cover {
    height: 42vh;
    width: 17rem;
    margin: 0.5rem;
    border-radius: 10px;
}

.book-carousel {
    margin-top: 4rem;
    display: flex;
}
