@import '../../style.scss';

.book-modal-container {
    background-color: $darkBlue;
    position: absolute;
    left: 30rem;
    z-index: 1;
    height: $modalHeight;
    width: $modalWidth;
    border-radius: 10px;
    color: $lighterGrey;
}

.close-book-modal {
    cursor: pointer;
    color: $lighterGrey;
    transition: color .2s;
    font-weight: 900;
    position: absolute;
    right: 1.1rem;
    top: 1rem;
    border: none;
    background: none;
    font-size: 1rem;
}

.close-book-modal:hover {
    color: $darkerGrey;
}