@import '../../style.scss';

.book-modal-container {
    background-color: aquamarine;
    position: absolute;
    left: 30rem;
    z-index: 1;
    height: 36rem;
    width: 39rem;
    border-radius: 10px;

}

.card-main {
    // position: relative;
}