@import "./style.scss";

.App {
  // overflow: scroll;
}

.app-input-container {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  max-width: 85em;
  top: 6.5em;
  left: -4em;
}
.app-input {
  height: 2em;
  width: 16em;
  border: none;
  box-shadow: 0px 1px 10px $buttonShadow;
  border-radius: 2px;
  font-family: $bodyFontFamily;
  font-size: $bodyFontSize;
  padding-left: 0.5em;
  margin-right: 2.5em;
}

::-webkit-scrollbar {
  width: 0.5em;
}
::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background: $darkGreen;
}
::-webkit-scrollbar-button:vertical:decrement {
  background: $maroon;
  height: 4.5em;
  width: 0;
}
::-webkit-scrollbar-button:vertical:increment {
  background: white;
  height: 0;
  width: 0;
}

@media (max-width: 1202px) {
  .app-input-container {
    position: relative;
  }
}
