@import "./style.scss";

.App {

}
.app-input-container {
  grid-column: 8;
  display: flex;
  justify-content: center;
  align-items: center;
}
.app-input {
  height: 2em;
  width: 16em;
  border: none;
  box-shadow: 0px 1px 10px $buttonShadow;
  border-radius: 2px;
  font-family: $bodyFontFamily;
  font-size: $bodyFontSize;
  padding-left: 0.5em;
  margin-left: 15em;
}
.search-input-btn {
  display: flex;
  align-items: center;
  grid-column: 9;
  margin-left: -1.3em;
  font-size: 1.3em;
  color: $lightGrey;
  width: 3em;
}


