@import url('https://fonts.googleapis.com/css?family=Montserrat');
// font-family: 'Montserrat', sans-serif;
@import url('https://fonts.googleapis.com/css?family=Raleway');
// font-family: 'Raleway', sans-serif;


/////////////////////////////////////////////////////
$white: #ffffff;

$darkGrey: #5d5c61;
$lightGrey: #938e94;

$darkBlue: #557a95;
$lightBlue: #7395ae;

$tan: #b1a296;
//////////////////////////////////////////////////////

$titleFontSize: 1.5em;
$bodyFontSize: 1em;

/////////////////////////////////////////////////////

$titleFontFamily: 'Montserrat', sans-serif;
$bodyFontFamily: 'Raleway', sans-serif;

// <i class="fas fa-search"></i>
// <i class="fas fa-book"></i>
// <i class="fas fa-book-open"></i>
// <i class="fas fa-user-friends"></i>
// <i class="fas fa-book-reader"></i>
// <i class="fas fa-cog"></i>
// <i class="fas fa-comments"></i>
// <i class="fas fa-plus"></i>
// <i class="far fa-trash-alt"></i>
// <i class="fas fa-info-circle"></i>
// <i class="fas fa-ellipsis-h"></i>
// <i class="fas fa-paper-plane"></i>
// <i class="fas fa-user-edit"></i>
// <i class="fas fa-pen"></i>
