@import url('https://fonts.googleapis.com/css?family=Montserrat');
// font-family: 'Montserrat', sans-serif;
@import url('https://fonts.googleapis.com/css?family=Raleway');
// font-family: 'Raleway', sans-serif;

/////////////////////////////////////////////////////
$white: #ffffff;

$darkGrey: #5d5c61;
$lightGrey: #938e94;

$darkBlue: #557a95;
$lightBlue: #7395ae;

$tan: #b1a296;
//////////////////////////////////////////////////////

$titleFontSize: 1.5em;
$bodyFontSize: 1em;

/////////////////////////////////////////////////////

$titleFontFamily: 'Montserrat', sans-serif;
$bodyFontFamily: 'Raleway', sans-serif;
