@import '../../style.scss';

.my-lib-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 6rem;

}

.my-lib-title {
    font-size: $titleFontSize;
    font-family: $titleFontFamily;
    color: $darkerGrey;
    height: 2.5rem;
    width: 10rem;
    text-align: center;
}

.my-lib-list {
    display: flex;
    flex-wrap: wrap;

}