@import '../../style.scss';

.my-lib-container {
    position: fixed;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 6rem 3rem 1rem 6rem;
}

.my-lib-title {
    font-size: $titleFontSize;
    font-family: $titleFontFamily;
    color: $darkerGrey;
    height: 2.5rem;
    width: 27rem;
    text-align: start;
    margin-left: 1rem;
}

.my-lib-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.my-lib-sort-container {
    height: 2rem;
    display: flex;
    justify-content: center;
    display: flex;
    margin: 0.4rem 1rem 1rem 1.4rem;
}

.my-lib-sort {
    border: none;
    font-family: $bodyFontFamily;
    font-size: $bodyFontSize;
}

.my-lib-recommended-list {
    display: flex;
    height: 15rem;
    width: 87rem;
    margin: 1rem;
    overflow-x: scroll;

}

.my-lib-recommended-container {
    // overflow-x: scroll;

}

@media (max-width: 1024px) {
    .my-lib-container {
        margin: 6rem 3rem 1rem 4rem;
    }
    
}

@media (max-width: 792px) {
    .my-lib-container {
        margin: 6rem 2rem 1rem 3rem;
    }
    .my-lib-recommended-list {
        width: 91%;
    }
    .my-lib-recommended-container {
        width: 100%;
    }
    .my-lib-list > div {
        margin: 0 .4em;
    }
}

@media (max-width: 488px) {
    .my-lib-container {
        margin: 6rem 2rem 1rem 2rem;
    }
    .my-lib-title {
        font-size: 1.3em;
    }
    .my-lib-container {
        position: absolute;
        margin-left: 0;
        margin-right: 0;
        padding-bottom: 4em;
        overflow-x: hidden;
    }
}

@media (max-width: 350px) {
    .my-lib-container {
        margin: 6rem 1rem 1rem 1.9rem;
    }

}