@import "../../style.scss";

.auth {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: rgb(43, 36, 36);
}
#auth-main {
  position: absolute;
  height: 100%;
  min-width: 100%;
  // background-image: url("../../Background-Image.jpg");
  // background-position: center;
  // background-size: 100% 100%;
  // background-repeat: no-repeat;
}
// #auth-bg-icons {
//   position: absolute;
//   display: grid;
//   grid-template-columns: repeat(3, 1fr);
//   grid-template-rows: repeat(3, 1fr);
//   overflow: hidden;
//   width: 100vw;
//   height: 100vh;
//   background-color: $maroon;
// }
// .auth-left-bg {
//   background-color: $lightBlue;
//   grid-row: 1 / span 3;
//   height: 150%;
//   width: 150%;
//   transform: rotate(15deg);
//   margin-left: -250px;
//   margin-top: -250px;
// }
// .auth-right-bg {
//   background-color: $darkGreen;
//   grid-column: 2 span 2;
//   grid-row: 2 / span 2;
//   height: 350%;
//   width: 200%;
//   margin-left: -150px;
//   margin-top: -800px;
//   transform: rotate(-45deg);
// }

#logo {
  position: absolute;
  top: 2em;
}
///////////////////////////////////////////////////////////////////////////
#login-none {
  display: none;
}
#login-blur {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 285px;
  background-color: #ffffffee;
  border-radius: 2px;
  box-shadow: 2px 2px 10px $darkerGrey;
}
#login-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 285px;
  border-radius: 3px;
}

#login-row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 18em;
}
#login-row p {
  font-family: $bodyFontFamily;
  font-size: 11px;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
}
.login-input {
  margin: 1em 0;
  height: $inputHeight;
  width: 100%;
  border-radius: 2px;
  border: none;
  font-size: 0.8em;
  background: transparent;
  border-bottom: 1px solid $darkGrey;
  font-family: $bodyFontFamily;
  padding-left: 1em;
  font-style: italic;
}
.login-input:-webkit-autofill,
.login-input:-webkit-autofill:hover,
.login-input:-webkit-autofill:focus,
.login-input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 40px #f8f8f8 inset !important;
}

#login-row button {
  margin: 1em 3em;
  padding: 0;
  height: 1.9em;
  width: fit-content;
  background-color: transparent;
  border: none;
  border-bottom: 0.3em solid $darkGreen;
  color: $darkGrey;
  font-family: $bodyFontFamily;
  font-weight: 600;
  letter-spacing: 1px;
  cursor: pointer;
}
#login-row p {
  font-family: $bodyFontFamily;
}
#login-row p > button {
  margin: 0;
  height: 1.2em;
  border: none;
  font-weight: 500;
  font-style: italic;
  text-decoration: underline;
  cursor: pointer;
}
///////////////////////////////////////////////////////////////////////
#register-none {
  display: none;
}
#register-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 285px;
  border-radius: 3px;
}
#register-row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 15em;
}
#register-row > .login-input {
  margin: 0.4em;
}
#register-row > button {
  margin: 2em 3em 1em 3em;
  padding: 0;
  height: 1.9em;
  width: fit-content;
  background-color: transparent;
  border: none;
  border-bottom: 0.3em solid $darkGreen;
  color: $darkGrey;
  font-family: $bodyFontFamily;
  font-weight: 600;
  letter-spacing: 1px;
  cursor: pointer;
}
#register-container > button {
  position: absolute;
  top: 0.8em;
  left: 0.8em;
  background-color: $darkGreen;
  margin: 0;
  padding: 0.3em;
  height: fit-content;
  border: none;
  border-radius: 2px;
  box-shadow: 0px 1px 5px $darkGrey;
  color: white;
  font-family: $bodyFontFamily;
  font-weight: 500;
  letter-spacing: 0.08em;
  cursor: pointer;
}
////////////////////////////////////////////////////////////////////
@media (max-width: 500px) {
  #login-blur, #login-container {
    width: 300px;
    height: 290px;
    margin-top: 1.5em;
  }
  #register-container {
    width: 300px;
    height: 290px;
    margin-top: 3em;
  }
  #login-row {
    width: 80%;
  }
  #register-row {
    width: 80%;
    margin: .2em 0;
  }
  .login-input {
    // margin: .3em 0;
  }
  #login-row p {
    font-size: .6em;
  }
  #logo {
    width: 300px;
  }
  #register-row button{
    margin: .7em 0 -1.5em 0 ;
  }
}
