@import "../../style.scss";

#auth-main {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
#auth-bg-icons {
  position: absolute;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  background-color: $darkBlue;
}
.auth-left-bg {
  background-color: $lightBlue;
  grid-row: 1 / span 3;
  height: 150%;
  width: 150%;
  transform: rotate(15deg);
  margin-left: -250px;
  margin-top: -250px;
}
.auth-right-bg {
  background-color: $tan;
  grid-column: 2 span 2;
  grid-row: 2 / span 2;
  height: 350%;
  width: 200%;
  margin-left: -150px;
  margin-top: -800px;
  transform: rotate(-45deg);
}

#auth-main > p {
  position: fixed;
  top: -0.1em;
  color: $darkerGrey;
  font-family: $appName;
  font-size: 3em;
  font-weight: 700;
  letter-spacing: 0.2em;
}
///////////////////////////////////////////////////////////////////////////
#login-none {
  display: none;
}
#login-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $darkerGrey;
  width: 400px;
  height: 300px;
  border-radius: 3px;
}

#login-row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 15em;
}
#login-row p {
  font-family: $bodyFontFamily;
  font-size: 10px;
  font-weight: 500;
  letter-spacing: 1px;
  color: white;
}
#auth-main input {
  margin: 0.8em 0;
  height: $inputHeight;
  width: 100%;
  border-radius: 1px;
  border: none;
  font-family: $bodyFontFamily;
}

#login-row button {
  margin: 0.5em 0;
  height: 2.3em;
  width: 100%;
  background-color: $tan;
  border: none;
  border-radius: 1px;
  font-family: $bodyFontFamily;
  font-weight: 700;
  letter-spacing: 1px;
}
#login-row p > button {
  background-color: $lightGrey;
}
///////////////////////////////////////////////////////////////////////
#register-none {
  display: none;
}
#register-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $darkerGrey;
  width: 400px;
  height: 300px;
  border-radius: 3px;
}
#register-row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 15em;
}
#register-row > button {
  margin: 0.5em 0;
  height: 2.3em;
  width: 100%;
  background-color: $tan;
  border: none;
  border-radius: 1px;
  font-family: $bodyFontFamily;
  font-weight: 700;
  letter-spacing: 1px;
}
////////////////////////////////////////////////////////////////////
@media (max-width: 550px) {
  #login-container, #register-container {
    width: 300px;
    height: 240px;
  }
  #login-row, #register-row {
    width: 12em;
  }
  #auth-main input {
    margin: 0.4em 0;
    height: 2em;
  }
  #login-row p {
    margin: 0px;
  }
  #auth-main > p {
    font-size: 2em;
  }
}
